    <head>
       <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
</head>
<body>
<div class="container-fluid">
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	   <div class=" mx-auto ">
		<!--<flash-messages></flash-messages>-->
		<div class="panel panel-info">
			<div class="panel-heading">
			<!-- 	<i class="fa fa-bar-chart-o fa-fw"></i>-->
				<h4 class="page-header ">Registrar usuario</h4>
			</div>
			<div class="panel-body"><!-- -->
				<!--<h2 class="page-header">Register</h2>-->
				<form (submit)="onRegisterSubmit()">
				  <div class="form-group">
					<label>Nombre</label>
					<input type="text" [(ngModel)]="name" name="name" class="form-control">
				  </div>
				  <div class="form-group">
					<label>Usuario</label>
					<input type="text" [(ngModel)]="username" name="username" class="form-control">
				  </div>
				  <div class="form-group">
					<label>Correo electrónico</label>
					<input type="text" [(ngModel)]="email" name="email" class="form-control" >
				  </div>
				  <div class="form-group">
					<label>Contraseña</label>
					<input type="password" [(ngModel)]="password" name="password" class="form-control">
				  </div>
				  <div class="form-group">
					<label>Confirme su contraseña</label>
					<input type="password" [(ngModel)]="againpassword" name="againpassword" class="form-control">
				  </div>
				  <div class="form-group" >
				  <label>Seleccione una pregunta secreta</label>
				  <ng-select placeholder="Seleccionar" name="Preguntas" [(ngModel)]="Preguntas" [items]="opciones"> 
				  </ng-select>
				  </div>
	  
				  
				   <div class="form-group">
					<label>Respuesta secreta</label>
					<input type="text" [(ngModel)]="answer" name="answer" class="form-control">
				  </div>
				  <div align="right">
				  				  <input type="submit" style="width:20%;" class="btn btn-primary " value="Registrar" >

				  </div>
				</form>
		  </div>		   
		</div> 
	</div> 
	</main>
</div>
</body>
