
<html>
    <head>
      <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
</head>

	<body>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		
		 <!--<button type="button" class="btn btn-outline-primary btn-circle btn-lg1" (click)="sendMsg()"> <i class="fa fa-exchange"></i> </button> -->
		<!--<flash-messages></flash-messages>-->
		<div class="panel panel-info <!--mt-5-->">
			
			<div class="panel-heading">
			<!-- 	<i class="fa fa-bar-chart-o fa-fw"></i>-->
				<h4 class="page-header ">Estado de la red</h4>
			</div>
		<div class="panel-body">
		<div class='chart-grid-container'>
            <div class='chart-grid'>
              <div class='chart-grid-item'>
              <i class="material-icons md-18" [ngStyle]="{'color': color_icon}" >security</i> 
               <!--<i class="material-icons md-18">security</i> -->
              </div>
              <div class='counter'>
				  <div class='counter_s'>
				<div id= 'contenido'>          
                <p id="cont" *ngIf="state">{{state.cant_anomalies}}</p>
                <p id="descr">Anomalías</p>
				</div>  
                <i id="icono" class="fa fa-exclamation-circle"></i>
                </div>
                <button type="button" class="btn btn-outline-primary btn-circle btn-lg2" data-toggle="modal" data-target="#reset"> <i class="fa fa-refresh"></i> </button>  
              </div>
               
            <div class='graphpar' *ngIf="chart1">
				<div class ='graphdiv'> 
				<canvas id="par1">{{ chart1 }}</canvas>
				</div>
				<div class='my-legend'>
					<div class='legend-title'>Leyenda</div>
					<div class='legend-scale'>
					  <ul class='legend-labels'>
						<li><span style='background:rgba(242, 38, 19,0.8);'></span>Umbral de anomalías</li>
					  </ul>
					</div>
					</div>
				</div>
				
            </div>
            
            
        </div>
        
         <div class="modal" id="reset">
			<div class="modal-dialog">
				<div class="modal-content">	
					  <div class="modal-header">
					   <h4 class="modal-title custom_align" id="Heading">Reiniciar indicadores de anomalías</h4>
					   <button type="button" class="close" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   </button>
					  </div>
					
					  <div class="modal-body">
					<div class="alert alert-danger">
					 <span class="fa fa-warning fa-fw"></span>
					 ¿Está seguro de que desea reiniciar los indicadores de anomalías?
					</div>
					    </div>
					    
					  <div class="modal-footer">
					  <button type="button" class="btn btn-success" (click)="eraseAnomalies()" data-dismiss="modal">
					   <span class="fa fa-check-circle fa-fw"></span>
					   Sí
					   </button>
					   <button type="button" class="btn btn-default" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   No
					   </button>
					  </div>	  
					</div>
				</div>
			</div>
        </div>
			</div>

		
	</main>
	</body>
</html>

