    <head>
       <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
</head>
<body>
<div class="container-fluid">
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		
		<div class=" mx-auto ">
			<!--<flash-messages></flash-messages>-->
					<div class="panel panel-info">
						<div class="panel-heading">
						<div *ngIf="user">
						<h4 class="page-header ">{{user.name}}</h4>
						</div>
						</div>
							<div class="panel-body">
						<div *ngIf="user">
							<ul class="list-group">
								<li class="list-group-item">Usuario: {{user.username}}</li>
								<li class="list-group-item">Correo electrónico: {{user.email}}</li>
							</ul>
						</div>
						</div>
					 </div>
					
					 <div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="page-header">Usuarios registrados</h4>
			</div>
			
			<div class="panel-body"><!-- -->

				<div id="de_connections " class="table-responsive">
				<input type="text" (keyup)='search($event.target.value)' placeholder="Busque con 'campo = valor'" class="form-control" style="width:24%">
				<table class="table table-striped" id="connections" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" class="mt-5">  
									  
				  
					
				   <thead>
						<tr>
							<th style="width: 12.5%">
								<mfDefaultSorter by="name">Nombre</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="username">Usuario</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="email">Correo electrónico</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="">Editar</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="">Eliminar</mfDefaultSorter>
							</th>
						</tr>
						</thead>
				  	<tbody>
				  <tr *ngFor="let conn of mf.data" >
					<td>{{conn.name}}</td>
					<td>{{conn.username}}</td>
					<td>{{conn.email}}</td>
					<td>
					<p data-placement="top" data-toggle="tooltip" title="Edit">
					<button class="btn btn-primary btn-xs " data-title="Edit" data-toggle="modal" data-target="#edit" (click)="doUpdate(conn)">
					<span class="fa fa-pencil fa-fw">
					</span>
					</button>
					</p>
					</td>
					<td>				
					<p data-placement="top" data-toggle="tooltip" title="Delete">
					<button class="btn btn-danger btn-xs " data-title="Delete" data-toggle="modal" data-target="#delete" (click)="doDelete(conn)">
					<span class="fa fa-trash-o fa-fw">
					</span>
					</button>
					</p>
					</td>
				  </tr>
				  </tbody>
				<tfoot >
						<tr >
							<td colspan="5">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20,25]"  ></mfBootstrapPaginator>
							</td>
						</tr>
						</tfoot>
				  
				</table>
				</div>
		</div>
	</div>
		</div>	
			
		<div class="modal" id="delete">
			<div class="modal-dialog">
				<div class="modal-content">	
					  <div class="modal-header">
					   <h4 class="modal-title custom_align" id="Heading">Eliminar este registro</h4>
					   <button type="button" class="close" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   </button>
					  </div>
					
					  <div class="modal-body">
					<div class="alert alert-danger">
					 <span class="fa fa-warning fa-fw"></span>
					 ¿Está seguro de que desea eliminar este registro?
					</div>
					    </div>
					    
					  <div class="modal-footer">
					  <button type="button" class="btn btn-success" (click)="onRegisterDeleteClient()" data-dismiss="modal">
					   <span class="fa fa-check-circle fa-fw"></span>
					   Sí
					   </button>
					   <button type="button" class="btn btn-default" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   No
					   </button>
					  </div>	  
				</div>
			</div>
		</div>
			
			
	
			<div class="modal" id="edit">
			<div class="modal-dialog">
				<div class="modal-content">	
					  <div class="modal-header">
					   <h4 class="modal-title custom_align" id="Heading">Edite su información</h4>
					   <button type="button" class="close" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   </button>
					  </div>

			
					  <div class="modal-body">
					  <div class="form-group">
					  <input class="form-control" type="text" [(ngModel)]="nameup" name="nameup" placeholder="Nombre">
					  </div>
					  
					  <div class="form-group">
					  <input class="form-control" type="text" [(ngModel)]="usernameup" name="usernameup" placeholder="Usuario">
					  </div>

					  <div class="form-group">
					  <input class="form-control" type="text" [(ngModel)]="emailup" name="emailup" placeholder="Correo electrónico">
					  </div>
					  
					  <div class="form-group">
					  <input class="form-control" type="password" [(ngModel)]="oldpassword" name="oldpassword" placeholder="Antigua contraseña">
					  </div>
					  
					  <div class="form-group">
					  <input class="form-control" type="password" [(ngModel)]="newpassword" name="newpassword"placeholder="Nueva Contraseña">
					  </div>
					  
					    <div class="form-group">
					  <input class="form-control" type="password" [(ngModel)]="againnewpassword" name="againnewpassword"placeholder="Confirme su contraseña">
					  </div>
					  
					    </div>
					    
					  <div class="modal-footer">
					  <button type="button" class="btn btn-warning btn-lg" style="width:100%;" data-dismiss="modal" (click)="onRegisterUpdateClient()" >
					   <span class="fa fa-check-circle fa-fw"></span>
					   Actualizar
					   </button>
					  </div>	
					  
					    
				</div>
			</div>
		</div>
		
					 
</main>
</div>
</body>

