<app-sidebar></app-sidebar>
<div class="container">
	<div align="center">
		<div class="col-md-9 col-lg-8" style="margin-top: 4%;"  >
	<flash-messages></flash-messages>
	</div>
	</div>
	<router-outlet></router-outlet>
	
</div>
