<html>
    <head>
      <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
</head>
<body>
	 
<nav class="navbar navbar-dark fixed-top bg-dark p-0" *ngIf="authService.loggedIn()">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NetLynx</a>

  <ul class="navbar-nav px-3">
	<li class="nav-item text-nowrap">
	  <a class="nav-link" (click) ="onLogoutClick()" href="#">Cerrar sesión</a>
	</li>
  </ul>
</nav>
	<nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="authService.loggedIn()">
	  <div class="sidebar-sticky">
		<ul class="nav flex-column navbar-nav">	
		<li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
		<a class="nav-link" [routerLink]="['/dashboard']">
			<i class="material-icons" style="font-size:20px" >dashboard</i>
			Panel
		</a>
	  </li>
	  <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
		<a class="nav-link" [routerLink]="['/details']">
			<i class="fa fa-area-chart"></i>
			Detalles 
		</a>
	  </li>	
	  <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
		<a class="nav-link" [routerLink]="['/connections']">
			<i class="fa fa-exchange"></i>
			Conexiones
		</a>
	  </li>	
	   <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
		<a class="nav-link" [routerLink]="['/register']">
			<i class="fa fa-user-plus"></i>
			Registro de usuarios
		</a>
	  </li>
	  <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
		<a class="nav-link" [routerLink]="['/profile']">
			<i class="fa fa-vcard-o"></i>
			Perfil
		</a>
		</li>
		<li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
		<a class="nav-link" [routerLink]="['/telephoneregistration']">
			<i class="fa fa-mobile-phone" style="font-size:24px"></i>
			Registro de teléfonos
		</a>
		</li>
		</ul>		
	  </div>
	</nav>	
</body>

</html>
<!--
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company me</a>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Integrations
                </a>
              </li>
            </ul>

            
            
          </div>
        </nav>

        
      </div>
    </div>
-->
