.panel-info{
border-color:#bce8f1;
}
.panel{
margin-bottom:35px;
background-color:#fff;
border:1px solid transparent;
/*border-color:#bce8f1;*/
border-color: rgba(0,0,0,1)!important;
border-radius:8px;
/*box-shadow: 0 1px 1px rgba(0,0,0,0.5);*/

}

.panel-info>.panel-heading{
color:#fff;
background-color:#343a40!important;
/*background-color:#d9edf7;*/
/*border-color:#bce8f1;;*/
border-color: rgba(0,0,0,1)!important;
}
.panel-heading{
padding:.50rem 1rem;
border-bottom:1px solid transparent;
border-top-left-radius:3px;
border-top-right-radius:3px;
}

.panel-body{
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 15px;
}

.login{
max-width:37rem;
}
.mx-auto{
margin-right:auto!important;
}
.mx-auto{
margin-left:auto!important;
}
.mt-5{
margin-top: 8rem!important;
}

body{
 /* font-family: 'Material Icons';*/
 font-family:Lato;
}
