<head>
</head>
<body>
	
<main role="main" class="">
	<div class="panel panel-info login mx-auto mt-5">
	<div class="panel-heading">
	<h4 class="page-header">Restablecer contraseña</h4>
		<!--<h2 class="page-header ">Telephone Register</h2>-->
	</div>
	<div class="panel-body">
				
	  <div class="form-group" >
	  <input class="form-control" type="text" [(ngModel)]="usernameup" name="usernameup" placeholder="Usuario">
	  </div>
	  
	  <div class="form-group" >
	  <ng-select placeholder="Seleccionar" name="Preguntas" [(ngModel)]="Preguntas" [items]="opciones"> 
	  </ng-select>
	  </div>
	  
	  <div class="form-group">
	  <input class="form-control" type="text" [(ngModel)]="answer" name="answer" placeholder="Respuesta">
	  </div>

	  <div class="form-group">
	  <input class="form-control" type="password" [(ngModel)]="NewPasswordREstablecida" name="NewPasswordREstablecida" placeholder="Registre su nueva contraseña">
	  </div>
	  
	   <div class="form-group">
	  <input class="form-control" type="password" [(ngModel)]="ReplyNewPasswordREstablecida" name="ReplyNewPasswordREstablecida" placeholder="Confirme su nueva contraseña">
	  </div>
	  
	<div style="text-align:center;">
	<label>
	<a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['']"  class="small">Inicio de sesión</a>
	</label>
	</div>

	<button class="btn btn-primary btn-xs " title="Reset password" style="width:100%;"(click)="onRegisterRestore()">
	<span class=""></span> Restablecer contraseña
	</button>	
	</div>		   
	</div>		    
					 <!--  <div class="modal-footer">
						 <h4 class="modal-title custom_align" id="Heading"> Edit Your Password</h4>
					  <button type="button" class="btn btn-warning btn-lg" style="width:100%;"  (click)="onRegisterRestore()">
					   <span class="fa fa-check-circle fa-fw"></span>
					   Restore
					   </button>-->	
</main>
</body>
