    <head>
       <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
</head>
<body>
<div class="container-fluid">
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<!--<flash-messages></flash-messages>-->
		<div class="panel panel-info">
			<div class="panel-heading">
			<!-- 	<i class="fa fa-bar-chart-o fa-fw"></i>-->
				<h4 class="page-header ">Registrar teléfono</h4>
			</div>
			<div class="panel-body"><!-- -->
			<form (submit)="onRegisterSubmit()">
			  <div class="form-group">
				<label>Propietario</label>
				<input type="text" [(ngModel)]="owner" name="owner" class="form-control">
			  </div>
			  <div class="form-group">
				<label>Teléfono</label>
				<input type="text" [(ngModel)]="telephone" name="telephone" class="form-control" mask='(000) 000-0000'>
			  </div>
			  <div class="form-group">
				<label>Compañía</label>
				<input type="text" [(ngModel)]="company" name="company" class="form-control">
			  </div>
			  <input type="submit" class="btn btn-primary" value="Registrar">
			</form><!-- -->
		   </div>		   
		</div>  
		 
		   <!--tabla que se esta trabajdo-->

		   <div class="panel panel-info">
			<div class="panel-heading">
			<!-- 	<i class="fa fa-bar-chart-o fa-fw"></i>-->
				<h4 class="page-header">Números telefónicos registrados</h4>
			</div>
			
			<div class="panel-body"><!-- -->

				<div id="de_connections " class="table-responsive">
				<input type="text" (keyup)='search($event.target.value)' placeholder="Busque con 'campo = valor'" class="form-control" style="width:24%">
				<table class="table table-striped" id="connections" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" class="mt-5" >  
				  
				  <thead>
						<tr>
							<th style="width: 12.5%">
								<mfDefaultSorter by="owner">Propietario</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="telephone">Teléfono</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="company">Compañía</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="">Editar</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="">Eliminar</mfDefaultSorter>
							</th>
						</tr>
						</thead>
				  	<tbody>
				  <tr *ngFor="let conn of mf.data;" >
					<td>{{conn.owner}}</td>
					<td >{{conn.telephone | mask:'(000) 000-0000'}}</td>
					<td>{{conn.company}}</td>
					<td>
					<p data-placement="top" data-toggle="tooltip" title="Edit">
					<button class="btn btn-primary btn-xs " data-title="Edit" data-toggle="modal" data-target="#edit" (click)="doUpdate(conn)">
					<span class="fa fa-pencil fa-fw">
					</span>
					</button>
					</p>
					</td>
					<td>				
					<p data-placement="top" data-toggle="tooltip" title="Delete">
					<button class="btn btn-danger btn-xs " data-title="Delete" data-toggle="modal" data-target="#delete" (click)="doDelete(conn)">
					<span class="fa fa-trash-o fa-fw">
					</span>
					</button>
					</p>
					</td>
				  </tr>
				   </tbody>
				<tfoot >
						<tr >
							<td colspan="5">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20,25]"  ></mfBootstrapPaginator>
							</td>
						</tr>
						</tfoot>
				</table>
				</div>
		</div>
	</div>
		
			
		<div class="modal" id="delete">
			<div class="modal-dialog">
				<div class="modal-content">	
					  <div class="modal-header">
					   <h4 class="modal-title custom_align" id="Heading">Eliminar este registro</h4>
					   <button type="button" class="close" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   </button>
					  </div>
					
					  <div class="modal-body">
					<div class="alert alert-danger">
					 <span class="fa fa-warning fa-fw"></span>
					  ¿Está seguro de que desea eliminar este registro?
					</div>
					    </div>
					    
					  <div class="modal-footer">
					  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onRegisterDelete()" >
					   <span class="fa fa-check-circle fa-fw"></span>
					   Sí
					   </button>
					   <button type="button" class="btn btn-default" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   No
					   </button>
					  </div>	  
				</div>
			</div>
		</div>
			
			
	
			<div class="modal" id="edit">
			<div class="modal-dialog">
				<div class="modal-content">	
					  <div class="modal-header">
					   <h4 class="modal-title custom_align" id="Heading">Edite su información</h4>
					   <button type="button" class="close" data-dismiss="modal">
					   <span class="fa fa-close fa-fw"></span>
					   </button>
					  </div>
					<!--
					<form (submit)="onRegisterSubmit()">
			  <div class="form-group">
				<label>Owner</label>
				<input type="text" [(ngModel)]="owner" name="owner" class="form-control">
			  </div>
			  <div class="form-group">
				<label>Telephone</label>
				<input type="text" [(ngModel)]="telephone" name="telephone" class="form-control">
			  </div>
			  <div class="form-group">
				<label>Company</label>
				<input type="text" [(ngModel)]="company" name="company" class="form-control">
			  </div>
			  <input type="submit" class="btn btn-primary" value="Submit">
			</form><!-- -->
			
					  <div class="modal-body">
					  <div class="form-group">
					  <input class="form-control" type="text" [(ngModel)]="ownerup" name="ownerup" placeholder="Propietario">
					  </div>
					  
					  <div class="form-group">
					  <input class="form-control" type="text" [(ngModel)]="telephoneup" name="telephoneup"  mask='(000) 000-0000' placeholder="Teléfono">
					  </div>

					  <div class="form-group">
					  <input class="form-control" type="text" [(ngModel)]="companyup" name="companyup" placeholder="Compañía">
					  </div>
					    </div>
					    
					  <div class="modal-footer">
					  <button type="button" class="btn btn-warning btn-lg" style="width:100%;" data-dismiss="modal" (click)="onRegisterUpdate()">
					   <span class="fa fa-check-circle fa-fw"></span>
					   Actualizar
					   </button>
					  </div>	
					  
					    
				</div>
			</div>
		</div>
		
		
	</main>
</div>
</body>
