<html>
        <head>
</head>
	<body>
		<div class="container-fluid">
			<div class="row">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				
		<div class=" mx-auto " > 
			<!--<flash-messages></flash-messages>-->
				
				  <div class="panel panel-info">
			<div class="panel-heading">
			<!-- 	<i class="fa fa-bar-chart-o fa-fw"></i>-->
				<h4 class="page-header">Conexiones</h4>
			</div>
			<div class='extras'>
			<input type="text" (keyup)='search($event.target.value)' placeholder="Busque con 'campo = valor'"  class="form-control" style="width:24%; float:left; margin-left:2%; margin-top: 7%;">
				<div class='my-legend'>
					<div class='legend-title'>Leyenda</div>
					<div class='legend-scale'>
					  <ul class='legend-labels'>
						<li><span style='background:rgba(243, 156, 18,0.8);'></span>Tráfico sospechoso</li>
						<li>Estado 1 = normal</li>
						<li>Estado 2 = error SYN</li>
						<li>Estado 3 = error REJ</li>
					  </ul>
					</div>
					
					</div>
					</div>
				
			<div class="panel-body"><!-- -->
				<div  class="table-responsive" id="de_connections " >
				
				<table class="table table-striped" id="connections" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" class=" mx-auto mt-4" >
					
					    <thead>
						<tr>
							<th style="width: 12.5%">
								<mfDefaultSorter by="s_IP">Dirección A</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="s_port">Puerto A</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="d_IP">Dirección B</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="d_port">Puerto B</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="cant_mensajes">Paquetes</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="last_timestamp-timestamp">Duración</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="urgent">Urgente</mfDefaultSorter>
							</th>
							<th style="width: 12.5%">
								<mfDefaultSorter by="estado">Estado</mfDefaultSorter>
							</th>
						</tr>
						</thead>
						<tbody>
						 <tr *ngFor="let conn of mf.data" [style.background-color]="conn.estado == 2 || conn.estado == 3 ? 'rgba(243, 156, 18,0.8)': ''">
							<td>{{conn.s_IP}}</td>
							<td>{{conn.s_port}}</td>
							<td>{{conn.d_IP}}</td>
							<td>{{conn.d_port}}</td>
							<td>{{conn.cant_mensajes}}</td>
							<td>{{conn.last_timestamp-conn.timestamp}}</td>
							<td>{{conn.urgent}}</td>
							<td>{{conn.estado}}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="8">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20,25]"></mfBootstrapPaginator>
							</td>
						</tr>
						</tfoot>
				</table>
				<!--
				<table class="table" id="connections">
				  <tr>
					<th>Address A</th>
					<th>Port A</th>
					<th>Address B</th>
					<th>Port B</th>
					<th>Packets</th>
					<th>Duration</th>
					<th>Urgent</th>
					<th>State</th>
				  </tr>
				  <tr *ngFor="let conn of connection;"  [style.background-color]="conn.estado == 2 || conn.estado == 3 ? 'rgba(243, 156, 18,0.8)': ''">
					<td>{{conn.s_IP}}</td>
					<td>{{conn.s_port}}</td>
					<td>{{conn.d_IP}}</td>
					<td>{{conn.d_port}}</td>
					<td>{{conn.cant_mensajes}}</td>
					<td>{{conn.last_timestamp-conn.timestamp}}</td>
					<td>{{conn.urgent}}</td>
					<td>{{conn.estado}}</td>
				  </tr>
				</table>
				-->
				
				</div>
				
	</div>
				
				</div>
			</div>
			</main>
			</div>
		 </div>
	</body>
</html>

