
<html>
        <head>
       <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
</head>
    
    <body>
		
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class=" mx-auto " > 
		<!--<flash-messages></flash-messages>-->
		<div class="panel panel-info">
			<div class="panel-heading">
			<!-- 	<i class="fa fa-bar-chart-o fa-fw"></i>-->
				<h4 class="page-header ">Parámetros de la red</h4>
			</div>
			
				<div  class="mt-3"><!-- -->
			<button type="button" class="btn btn-outline-primary btn-circle btn-lg" (click)="sendMsg()"> <i class="fa fa-exchange"></i> </button>
			</div>
		<div class="panel-body" class="mt-4"><!-- -->
			
		<div class='chart-grid-container'>
			
			
			<div class='chart-grid'>
				<div class='chart-grid-item1' *ngIf="chart1">
					<canvas id="par1" data-toggle="modal" data-target="#myModal1">{{ chart1 }} </canvas>
					<span class="tooltiptext1">Porcentaje de conexiones que tienen errores SYN, entre las que tienen la misma IP destino en los últimos 2 segundos.</span>
				</div>
				<div class='chart-grid-item2' *ngIf="chart2">
					<canvas id="par2" data-toggle="modal" data-target="#myModal2">{{ chart2 }}</canvas>
					<span class="tooltiptext2">Porcentaje de conexiones dirigidas al mismo puerto destino, entre las que tienen la misma IP destino en los últimos 2 segundos.</span>
				</div>
				<div class='chart-grid-item3' *ngIf="chart3">
					<canvas id="par3" data-toggle="modal" data-target="#myModal3">{{ chart3}}</canvas>
					<span class="tooltiptext3">Porcentaje de conexiones dirigidas a diferentes puertos de destino, entre las que tienen la misma IP destino en los últimos 2 segundos.</span>
				</div>
				<div class='chart-grid-item4' *ngIf="chart4">
					<canvas id="par4" data-toggle="modal" data-target="#myModal4">{{ chart4 }}</canvas>
					<span class="tooltiptext4">Porcentaje de conexiones con diferentes IP destino, entre las que tienen mismo puerto destino en los últimos 2 segundos.</span>
				</div>
				<div class='chart-grid-item5' *ngIf="chart5">
					<canvas id="par5" data-toggle="modal" data-target="#myModal5">{{ chart5 }}</canvas>
					<span class="tooltiptext5">Cantidad de conexiones que tienen la misma dirección IP de destino.</span>
				</div>
				<div class='chart-grid-item6' *ngIf="chart6">
					<canvas id="par6" data-toggle="modal" data-target="#myModal6">{{ chart6 }}</canvas>
					<span class="tooltiptext6">Porcentaje de conexiones dirigidas al mismo puerto de origen, entre las que van dirigidas al mismo puerto destino en las últimas 100 conexiones.</span>
				</div>
				<div class='chart-grid-item7' *ngIf="chart7">
					<canvas id="par7" data-toggle="modal" data-target="#myModal7">{{ chart7 }}</canvas>
					<span class="tooltiptext7">Porcentaje de conexiones con errores s0, s1, s2 o s3, entre las que van dirigidas al mismo puerto destino en las últimas 100 conexiones.</span>
				</div>
				<div class='chart-grid-item8' *ngIf="chart8">
					<canvas id="par8" data-toggle="modal" data-target="#myModal8">{{ chart8 }}</canvas>
					<span class="tooltiptext8">Porcentaje de conexiones con error REJ, entre las que misma IP destino en las últimas 100 conexiones.</span>
				</div>
				<div class='chart-grid-item9' *ngIf="chart9">
					<canvas id="par9" data-toggle="modal" data-target="#myModal9">{{ chart9 }}</canvas>
					<span class="tooltiptext9">Porcentaje de conexiones con error REJ, entre las que van dirigidas al mismo puerto destino en las últimas 100 conexiones.</span>
				</div>
			</div>
		</div>
		  </div>		   
		</div> 
			</div>  
		 


		<div class="modal" id="myModal1">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par1b">{{ chart1b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal" id="myModal2">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par2b">{{ chart2b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal" id="myModal3">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par3b">{{ chart3b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal" id="myModal4">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par4b">{{ chart4b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal" id="myModal5">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par5b">{{ chart5b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		
		
		<div class="modal" id="myModal6">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par6b">{{ chart6b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal" id="myModal7">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par7b">{{ chart7b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal" id="myModal8">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par8b">{{ chart8b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
		
		<div class="modal" id="myModal9">
			<div class="modal-dialog">
				<div class="modal-content">
				  
					<!-- Modal Header -->
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					  <canvas id="par9b">{{ chart9b }}</canvas>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					
				</div>
			</div>
		</div>
		
	</main>
	</body>
</html>

<!--
Porcentaje de conexiones que tienen errores SYN, entre las que tienen la misma IP destino en los últimos 2 segundos.
Porcentaje de conexiones dirigidas al mismo puerto destino, entre las que tienen la misma IP destino en los últimos 2 segundos.
Porcentaje de conexiones dirigidas a diferentes puertos de destino, entre las que tienen la misma IP destino en los últimos 2 segundos.
Porcentaje de conexiones con diferentes IP destino, entre las que tienen mismo puerto destino en los últimos 2 segundos.
Cantidad de conexiones que tienen la misma dirección IP de destino.

Porcentaje de conexiones dirigidas al mismo puerto de origen, entre las que van dirigidas al mismo puerto destino en las últimas 100 conexiones.
Porcentaje de conexiones con errores s0, s1, s2 o s3, entre las que van dirigidas al mismo puerto destino en las últimas 100 conexiones.
Porcentaje de conexiones con error REJ, entre las que misma IP destino en las últimas 100 conexiones.
Porcentaje de conexiones con error REJ, entre las que van dirigidas al mismo puerto destino en las últimas 100 conexiones.

-->
