    <head>
       <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">  
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       -->
</head>
    <body>
	<!--<flash-messages></flash-messages>-->
		<img src="assets/logo.png" height="30%" Width="30%" class="centerlogo">
<main role="main" class="" *ngIf="!authService.loggedIn()">

	
	<div class="panel panel-info login mx-auto">
	<div class="panel-heading">
	<h4 class="page-header">Inicio de sesión</h4>
		<!--<h2 class="page-header ">Telephone Register</h2>-->
	</div>
	<div class="panel-body">
	<form (submit)="onLoginSubmit()">
	  <div class="form-group">
		<label>Usuario</label>
		<input type="text" [(ngModel)]="username" name="username" class="form-control">
	  </div>
	  <div class="form-group">
		<label>Contraseña</label>
		<input type="password" [(ngModel)]="password" name="password" class="form-control">
	  </div>
	<div style="text-align:center;">
	<label>
	<a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/restorepassword']" class="small">¿Ha olvidado su contraseña?</a>
	</label>
	</div>
	  <input type="submit" class="btn btn-primary" style="width:100%;" value="Iniciar sesión">
	</form>
		</div>		   
	</div>	
	
	
</main>
</body>
